.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em; /* Space between icons */
}

/*.content-shows h1 {*/
/*    color: #f70000;*/
/*    font-size: 4%;*/
/*}*/
.content-shows p {
    color: #f70000;
    font-size: 1.5em;
}
.icon {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.icon i {
    font-size: 3.8em; /* Adjust icon size */
    transition: transform 0.3s ease; /* Optional: Make icon itself pop */
    color: #f70000;
}

.icon:hover {
    /* background-color: #dbdbdb; */
    transform: scale(1.2); /* Expand the whole icon */
}

.icon:hover i {
    transform: scale(1.2); /* Optional: Pop the icon itself a bit */
}
